EXPO_PUBLIC_SUPABASE_URL=https://iftmnringfpppgfckmqa.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmdG1ucmluZ2ZwcHBnZmNrbXFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0ODEzMTAsImV4cCI6MjEwMDA1NzMxMH0.-ylAsrIBgwVlBp5ySRIxu6WS4pfhaP-MbtVkXK3Ctdg
